/* style.css */
body {
  background-color: #f4f6f9;
  font-family: 'Helvetica', sans-serif;
}

.sidebar .sidebar-content {
  background-color: #f0f0f5;
}

.stButton>button {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

.stSlider>div>div>input {
  background-color: #e1f5fe;
}

.diagnosis {
  color: #fff;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
}

.diagnosis.benign {
  background-color: #01DB4B;
}

.diagnosis.malicious {
  background-color: #ff4b4b;
}
